<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
      <!-- NAV -->
  <div class="nav mx-10 mt-6 p-4 bg-[#1A1953] rounded-xl text-white flex gap-4 shadow-lg">

    <a href="/" class="px-4 py-2 rounded-md hover:bg-white/10 transition">
      Home
    </a>

    <a href="/read" class="px-4 py-2 rounded-md hover:bg-white/10 transition">
      Read Users
    </a>

  </div>

  <div class="m-4">
    <p class="p-4 m-4 text-2xl">All the users</p>

    <div class="flex flex-wrap">
        <% users.forEach(user=>{%>
            <!-- CARD -->
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-4">

        <div class="bg-[#1A1953] rounded-md p-4 text-white shadow-md hover:shadow-xl transition">

          <img
            class="w-full h-40 object-cover rounded-md"
            src="<%=user.imageURL%>"
            alt="User Image"
          >

          <p class="text-xl font-bold mt-4"><%=user.name%></p>

          <p class="text-xs font-bold mt-2 text-gray-300">
            <%=user.email%>
          </p>

          <!-- buttons -->
          <div class="flex gap-2 mt-4">

            <button class="flex-1 bg-yellow-500 hover:bg-yellow-600 text-black text-sm py-1 rounded-md transition">
              Edit
            </button>
            <a href="/delete/<%=user._id%>" class="flex-1 bg-red-500 hover:bg-red-600 text-white text-sm py-1 rounded-md transition px-4 text-center">
              Delete
            </a>
            

          </div>

        </div>

             </div>
        <% })%>
      

      

    </div>
  </div>

</body>
</html>